<br>
<div class="container">

<h2>Follow Users</h2>

  <% if @users.exists? %>
    <%= render 'userfollow', users: @users %>  <!--フォロー・フォロワー一覧 部分テンプレート-->
  <% else %>
    <p>ユーザーはいません</p>
  <% end %>

</div>