<!--バリデーションチェック-->
<br>

<div class="container px-5 px-sm-0">
<div class="row">

<!-- サイドバー -->
 <div class="col-md-3">
  <%= render 'users/userinfo',user: @user %>  <!--User info 部分テンプレート-->
  <%= render 'books/newbook',book: @book %>  <!--New book 部分テンプレート-->
 </div>


<!--ユーザー 一覧-->
 <div  class="col-md-8 offset-md-1">
 <h2>Users</h2>

 <%= render 'userindex', users: @users %>  <!--ユーザー一覧 部分テンプレート-->

 </div>

</div>
</div>