// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  box-sizing: border-box;
}

.table {
  width: 100%;
}

mt-3 {
  margin-top: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

form-control{
  width: 100%;
}

// #error_explanation {
// color: red; 
// }